In [3]:
import pandas as pd 

csv_path = "../data/processed/casas.csv"

df = pd.read_csv(csv_path)
X = df.drop(columns)

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000